<div class="form-content">
  <%= simple_form_for [@song, @track] do |f| %>
    <%= f.input :description %>
    <%= f.input :bpm %>
    <%= f.submit "Update", class: "btn btn-primary", method: :put %>
    <%= link_to 'back to songs', songs_path, class: 'btn btn-info' %>
  <% end %>
</div>
