<div class="container">
  <div class="form-container">
    <div class="form-content">

      <h1>Add ur Track</h1>
      <%= simple_form_for [@song, @track] do |f| %>
        <%= f.input :description %>
        <%= f.input :uploaded_file %>
        <%= f.input :uploaded_file_cache, as: :hidden %>
        <%= f.submit "Add", class: "btn btn-success" %>
      <% end %>
    </div>
  </div>
</div>
