<div class="wrapper-song">
  <div class="container-song">
    <div class="song-form">
      <h3>Add A Track</h3>
      <div class="song-form-layout-container">
       <div class="form-container-new">
        <div class="form-content">
          <%= simple_form_for [@song, @track] do |f| %>
            <div>
              <%= f.input :description %>
            </div>
            <div>
              <%= f.input :uploaded_file %>
              <%= f.input :uploaded_file_cache, as: :hidden %>
            </div>
            <div>
              <%= f.button :button, "Add Your Track", class: "my-button".html_safe, data: {disable_with: "<i class='fa fa-spinner fa-spin'></i> Uploading..."} %>
            </div>
          <%end%>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>


  <div class="ui-widget">
  </div>
  <% @genres = [] %>
  <% Genre.all.each do  |genre| %>
  <% @genres << genre.name %>
  <% end %>

  <script>
    $( function() {
      var array = <%= @genres.inspect.html_safe %>;
      var availableTags = [

      ];
      $( "#song_genre" ).autocomplete({
        source: array
      });
    } );
  </script>


