

<div class="container">
  <div><h1>.pro</h1></div>
  <div><h1>file</h1></div>
  <div class="row">
    <div class="col-xs-4">
      <div> <%= cl_image_tag @user.photo, height: 260, width: 260, crop: :fill, class: "img-circle" %>  </div>
    </div>
    <div class="col-xs-4">
      <h3> <%= @user.username %> </h3>
    </div>
    <div class="col-xs-4">
      <div><h4>Description</h4></div>
      <div> <%= @user.description %></div>
    </div>
  </div>
  <div class="row">
    <div class="col-xs-12">
      <div class="show-box">
        <div><h3>My Songs</h3></div>
        <% @user.songs.each do |song| %>
          <div class="row">
            <div class="col-xs-2">
              <div>
                <%= cl_image_tag song.photo, height: 130, width: 130, crop: :fill %>
              </div>
            </div>
            <div class="col-xs-2">
              <h4>Name</h4>
              <div>
                <%= song.name %>
              </div>
            </div>
            <div class="col-xs-2">
              <h4>Artist</h4>
              <div> <%= song.description %> </div>
            </div>
            <div class="col-xs-2">
              <h4>BPM </h4>
              <div><%= song.bpm %></div>
            </div>
            <div class="col-xs-2">
              <h4>Duration </h4>
              <div><%= song.duration %></div>
            </div>
            <div class="col-xs-2">
              <h4>Genre </h4>
              <div><%= song.genre.name %></div>
            </div>
          </div>
        <% end %>
      </div>
    </div>
  </div>
</div>
