

<div class="container">
  <h1>Add a new song</h1>
    <div class="form-layout-container">
     <div class="form-container-new">
      <div class="form-content">
        <%= simple_form_for @song do |f| %>
          <%= f.input :name %>
          <!-- <div class="form-group string required song_genre">
            <label class="form-control-label string required" for="song_genre">Genre <abbr title="required">*</abbr></label><input class="form-control string required" type="text" name="song[genre]" id="song_genre">
          </div> -->

          <%= f.input :genre, label:'genre' %>
          <%= f.input :description %>
          <%= f.input :bpm %>
          <%= f.input :duration %>
          <%= f.input :photo %>
          <%= f.input :photo_cache, as: :hidden %>
          <div class="group-times">
          </div>
          <div class="form-btn">
            <%= f.submit "Add", class: "btn btn-primary" %>
            <%= link_to 'Back to Songs', songs_path, class: 'btn btn-info' %>
          </div>
        <% end %>
       </div>
      </div>
    </div>
  </div>

<div class="ui-widget">
  <label for="tags">Tags: </label>
  <input id="tags">
</div>
<% @genres = [] %>
<% Genre.all.each do  |genre| %>
  <% @genres << genre.name %>
<% end %>

<script>
  $( function() {
    var array = <%= @genres.inspect.html_safe %>;
    var availableTags = [

    ];
    $( "#song_genre" ).autocomplete({
      source: array
    });
  } );
  </script>

