<div class="container">
  <h1><%= @song.name %></h1>
  <div>
    <p>A project by <%= @song.user["first_name"] %> <%= @song.user["last_name"] %></p>
    <p class="track-metadata">Made with <i class="fas fa-heart"></i> at <%= @song.bpm %> bpm | <i class="fas fa-clock"></i> <%= @minutes %>:<%= @seconds %> | <i class="fas fa-music"></i> <%= @song.genre.name %></p>
  </div>

  <% @song.tracks.each do |track| %>
    <div class="single-track">
      <span class="track-description">
        <%= track.description %>
      </span>
      <audio
        class="track-sound"
        controls
        src="<%= cloudinary_url("#{track['track_url']}.mp3", resource_type: 'video') %>">
      </audio>
      <span class="track-user">
        <%= cl_image_tag track.user.photo %>
      </span>
    </div>
  <% end %>
</div>
