<div class="container">
  <h1><%= @song.name %></h1>
  <div>
    <p>A project by <%= @song.user["first_name"] %> <%= @song.user["last_name"] %></p>
    <p class="track-metadata">Made with <i class="fas fa-heart"></i> at <%= @song.bpm %> bpm | <i class="fas fa-clock"></i> <%= @minutes %>:<%= @seconds %> | <i class="fas fa-music"></i> <%= @song.genre.name %></p>
  </div>

  <div class="container player-container">
    <div id="buttons-player">
      <button id="play" disabled><i class="fas fa-play-circle"></i></button>
      <button id="clear">Clear solos</button>
    </div>
    <div class="tracks-container">
      <div class="playhead-container">
        <div id="playhead">
        </div>
        <ul class="tracks list-unstyled" id="track-container">
          <% @song.tracks.each do |track| %>
          <% @data_url = "https://res.cloudinary.com/dae1kvpyn/" + track["uploaded_file"] %>
            <li data-url=<%= @data_url %> data-name=<%= track.description %>>
              <div class="song-show-track-type">
                <%= track.description.capitalize %>
              </div>
              <div class="wave-and-butt">
                <canvas class="waveform" width="700px" height="75"></canvas>
                <button class="mute"><i class="fas fa-volume-up"></i></button>
                <button class="solo">S</button>
                <% if track.user == current_user %>
                  <%= link_to 'Delete', track_path, method: :delete %>
                <% end %>
                <%= cl_image_tag track.user.photo, width: 50, height: 50, crop: :fill %>
              </div>
            </li>
          <% end %>
        </ul>
      </div>
    </div>
  </div>
</div>
