<div class="wrapper-fluid">
  <div class="song-details-container" style="background-image: linear-gradient(rgba(0,0,0,0.3), rgba(0,0,0,0.2)), url('<%= cl_image_path @song.photo%>');">
    <div class="song-details-content">
      <h1><%= @song.name %></h1>
      <p>A project by <%= @song.user["first_name"] %> <%= @song.user["last_name"] %></p>
      <p class="track-metadata">Made with <i class="fas fa-heart"></i> at <%= @song.bpm %> bpm | <i class="fas fa-clock"></i> <%= @minutes %>:<%= @seconds %> | <i class="fas fa-music"></i> <%= @song.genre.name %></p>
    </div>
  </div>
</div>

<div class="container">
  <div class="container player-container">
    <div id="buttons-player">
      <button id="play" disabled><i class="fas fa-play-circle"></i></button>
      <button id="clear">Clear solos</button>
    </div>
    <div class="tracks-container">
      <div class="playhead-container">
        <div id="playhead">
        </div>
        <ul class="tracks list-unstyled" id="track-container">
          <% @song.tracks.each do |track| %>
          <% @data_url = "https://res.cloudinary.com/dae1kvpyn/" + track["uploaded_file"] %>
            <li data-url=<%= @data_url %> data-name=<%= track.description %>>
              <div class="wave-and-butt">
                <div class="track-description <%= track.description.downcase %>"> <%= track.description.capitalize %></div>
                <canvas class="waveform" width="700px" height="75"></canvas>
                <button class="mute"><i class="fas fa-volume-up"></i></button>
                <button class="solo">S</button>
              </div>
              <div class="track-user-picture">
              <%= cl_image_tag track.user.photo, width: 50, height: 50, crop: :fill %>
            </li>
          <% end %>
        </ul>
      </div>
    </div>
  </div>
</div>
